.display-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-and-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.copy-to-clipboard {
  grid-column-start: 2;
  align-self: center;
  background-color: #8a8a8a;
  border-radius: 2px;
  color: #ededed;
  margin: 0 auto;
  padding-right: 0.4em;
  padding-left: 0.4em;
  border: none;
  outline: none;
  font-size: 2rem;
  width: fit-content;
  height: 1.5em;
  text-align: center;
}

.copy-to-clipboard:hover {
  cursor: pointer;
}

.copy-to-clipboard:active {
  background-color: #737373;
}

.stats-title {
  grid-column-start: 4;
  margin: 0;
  font-size: 2.4rem;
  color: darkslategrey;
}

.pokemon-image {
  margin-top: -1em;
  height: 300px;
}

.stats-window {
  background-color: #fbd743;
  border-radius: 0;
  padding-top: 0.5em;
  margin: 0;
  padding-bottom: 2em;
  height: 100%;
  width: 100%;
}

.text-and-image-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.image-window {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon-image {
  grid-column-start: 2;
  margin-top: 0;
  width: 9em;
  height: 9em;
}

.invisible {
  display: none;
}

.image-arrow {
  z-index: 1;
  grid-column-start: 3;
  margin-left: 0.4em;
  background: none;
  text-align: left;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.image-arrow:active {
  color: #4c6275;
}

.text-stats {
  align-items: center;
  background-color: #ebc324;
  border-radius: 10px;
  height: fit-content;
  padding: 8px;
  margin-left: 0;
  margin-top: 0.5em;
  width: 145px;
}

.text-stats p {
  font-size: 1rem;

  margin: 0;
  padding-bottom: 4px;
  color: rgb(62, 62, 62);
}

.bold {
  font-weight: bold;
}

@media screen and (min-width: 540px) {
  .stats-window {
    margin-top: 1em;
    border-radius: 2em;
    padding-top: 1em;
    width: 540px;
  }

  .pokemon-image {
    width: 12em;
    height: 12em;
  }

  .text-and-image-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .text-stats {
    width: 4em;
    grid-column-start: 2;
  }
  .text-stats p {
    font-size: 0.8rem;
  }

  .image-window {
    grid-column-start: 3;
  }
}

@media screen and (min-width: 440px) {
  .pokemon-image {
    width: 10em;
    height: 10em;
  }
}
