::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(42, 42, 42, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5db9ff;
  width: 100%;
  height: 11em;
  padding-bottom: 0.5em;
  color: white;
}

.title {
  font-size: 3rem;
  color: white;
}

.form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  position: relative;
}

.search-input {
  width: 200px;
  height: 2em;
  border-radius: 10px;
  border: 1px solid #51a0dd;
  font-size: 1rem;
  padding-left: 8px;
  margin-bottom: 0.2em;
}

.pokemon-name-list {
  display: none;
  list-style-type: none;
  margin: 0;
}

.dropdown {
  display: block;
  position: absolute;
  color: black;
  top: 100%;
  font-size: 0.8rem;
  width: 200px;
  max-height: 10em;
  overflow-y: scroll;
  padding-left: 8px;
  padding-right: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #d4ebff;
}

.pokemon-list-link {
  text-decoration: none;
  color: black;
}

.pokemon-list-link:visited {
  text-decoration: none;
}

.list-item-pokemon-name {
  margin-top: 0;
  margin-bottom: 0;
}

.single-poke-name {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.list-item-pokemon-name:hover {
  background-color: rgb(186, 186, 186);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 180px;
  height: 60px;
  margin-top: 0.9em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10px;
  border: none;
  background-color: #407faf;
  color: white;
}

.search-button-text {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.search-button:hover {
  cursor: pointer;
}

.call-to-action {
  text-align: center;
  font-size: 3rem;
  color: black;
}

@media screen and (max-width: 440px) {
  body {
    overflow: hidden;
    width: 100vdw;
  }
}
